[Unit]
Description=Tomcat 8 servlet container
After=network.target

[Service]
Type=forking

User=root
Group=root

Environment="JAVA_HOME=/usr/lib/jvm/java-1.8.0-openjdk-arm64"
Environment="JAVA_OPTS=-Djava.security.egd=file:///dev/urandom -Djava.awt.headless=true"

Environment="CATALINA_BASE=/opt/apache-tomcat-8.5.58/"
Environment="CATALINA_HOME=/opt/apache-tomcat-8.5.58/"
Environment="CATALINA_PID=/opt/apache-tomcat-8.5.58/temp/tomcat.pid"
Environment="CATALINA_OPTS=-Xms512M -Xmx1024M -server -XX:+UseParallelGC"

ExecStart=/opt/apache-tomcat-8.5.58/bin/startup.sh
ExecStop=/opt/apache-tomcat-8.5.58/bin/shutdown.sh

[Install]
WantedBy=multi-user.target