[Unit]
Description=wvpserver
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
ExecStart=/opt/mediaserver/wvp/start.sh
ExecStop=/opt/mediaserver/wvp/stop.sh
PrivateTmp=true

[Install]
WantedBy=multi-user.target

