[Unit]
Description=server service
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
ExecStart=/opt/server/start.sh
ExecStop=/opt/server/stop.sh
PrivateTmp=true

[Install]
WantedBy=multi-user.target
